package="smartoptimizerui"
version="__VERSION__"
os_min_ver="7.2.1-69057"
install_dep_packages="ContainerManager>=1432"
maintainer="MrRobot-88"
description="Smart Optimizer UI for Radarr and Sonarr, deployed through Synology Container Manager."
displayname="Smart Optimizer UI"
arch="noarch"
thirdparty="yes"
startable="yes"
ctl_stop="yes"
